.items {
  display: flex;
  gap: 40px;
  color: #fff;
}

.button {
  display: none;
}

@media (width <= 640px) {
  .nav {
    display: none;
  }

  .nav.open {
    position: fixed;
    inset: 0;
    display: block;
    padding: 24px 16px;
    color: var(--color-text-unpainted);
    background-color: var(--color-bg-painted);
  }

  .items {
    flex-direction: column;
    gap: 24px;
  }

  .button {
    display: flex;
    cursor: pointer;
    background: none;
    border: none;
  }

  .close {
    position: absolute;
    top: 24px;
    right: 16px;
  }
}
