.button {
  display: block;
  width: 300px;
  padding: 20px 40px;
  color: var(--color-text-unpainted);
  background: url("/arrow-right.svg") no-repeat right 20px center,
    var(--color-button-primary);
  border-radius: var(--border-radius);
}

.button:hover {
  opacity: 0.9;
}

@media (width <= 640px) {
  .button {
    width: 100%;
    padding: 16px 24px;
  }
}
