.title {
  margin-bottom: 24px;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.text {
  font-size: 1rem;
  text-align: center;
}

.container {
  position: relative;
  width: 840px;
  padding: 160px 80px;
  margin: -40px auto 0;
  background-color: #fff;
  border-radius: var(--border-radius);
}

@media (width <= 640px) {
  .title {
    text-align: left;
  }

  .text {
    text-align: left;
  }

  .container {
    width: calc(100% - 32px);
    padding: 40px 16px;
    margin: -40px auto 0;
  }
}
